version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: api-transfer-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - api-transfer-postgres-data:/var/lib/postgresql/data

volumes:
  api-transfer-postgres-data:
